<div class="bg-blue--dark footer-desk">
  <div class="container px-30">
      <div class="bb-1-grey">
          <div class="row justify-content-center mx-auto w-560">
              <div class="col-6">
                  <p class="white fw-bold pt-30 pb-3 text-left">Medios de Pago</p>
                  <div class="d-flex justify-content-start pb-3">
                      <i class="fab fa-cc-visa mr-15 fz-24 white"></i>
                      <i class="fab fa-cc-mastercard mr-15 fz-24 white"></i>
                      <i class="fab fa-cc-amex fz-24 white"></i>
                  </div>
              </div>
              <div class="col-6">
                  <p class="white fw-bold pt-30 pb-3 text-left">Síguenos en redes sociales:</p>
                  <div class="d-flex justify-content-start pb-24">
                      <a href="https://www.facebook.com/SegurosMundial/" target="_blank"><i class="fab fa-facebook mr-15 fz-24 white"></i></a>
                      <a href="https://www.instagram.com/segurosmundial/" target="_blank"><i class="fab fa-instagram mr-15 fz-24 white"></i></a>
                      <a href="https://twitter.com/SegurosMundial" target="_blank"><i class="fab fa-twitter mr-15 fz-24 white"></i></a>
                      <a href="https://co.linkedin.com/company/mundial-seguros-s-a-" target="_blank"><i class="fab fa-linkedin mr-15 fz-24 white"></i></a>
                      <a href="https://www.youtube.com/c/SegurosMundialColombia" target="_blank"><i class="fab fa-youtube fz-24 white"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="bb-1-grey">
          <div class="row justify-content-center mx-auto w-560">
              <div class="col-6">
                  <p class="white fw-bold fz-12 pb-12 text-left pt-3">Powered by:</p>
                  <div class="white fw-bold pb-36 text-left">
                      <img src="https://www.seguropeludo.com.co/img/Red5g.svg" alt="Red 5G"  draggable="false">
                      <img src="https://www.seguropeludo.com.co/img/kushki.svg" alt="kushki" draggable="false">
                  </div>
              </div>
              <div class="col-6">
                  <p class="white fw-bold pt-3 pb-2 text-left">Ayuda</p>
                  <div class="d-flex justify-content-start pb-24 flex-wrap">
                      <a href="#" target="_blank" class="white text-decoration-none w-100 text-left">Términos y condiciones</a>
                      <a href="#" target="_blank" class="white text-decoration-none w-100 text-left">Políticas de privacidad</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-center mx-auto w-560">
          <div class="col-6"></div>
          <div class="col-6">
              <div class="d-flex justify-content-start pt-3 pb-50">
                  <img src="https://www.seguropeludo.com.co/img/Grupo%2067.svg" alt="verificado" draggable="false">
              </div>
          </div>
      </div>
  </div>
</div>
