<div class="bg-aqua shadows-inset-01 home-section columns club section-desktop">
  <div class="bg-white rounded-corner pb-3 flex-1-0-auto columns justify-content-center">
    <div class="container px-30 colums pb-3">
      <p class="aqua fz-36 text-center pt-5 mb-40">¿Un seguro que te abre las puertas a un CLUB?</p>
    </div>
    <div class="alt">
      <div class="container">
        <div class="w-700 mx-auto flex-1-0-auto columns">
          <div class="row mt-37 mb-4">
            <img src="https://www.seguropeludo.com.co/img/Peluditos_Beneficios_Triptico.png" alt="mascotas"
              class="w-100" draggable="false">
            <div class="col-4 d-flex flex-column align-items-center">
              <p class="aqua fz-20 fw-bold text-center pt-4 line_hei-555">Descuentos<br>y Promociones</p>
            </div>
            <div class="col-4 d-flex flex-column align-items-center">
              <p class="aqua fz-20 fw-bold text-center pt-4">Precios<br>Especiales</p>
            </div>
            <div class="col-4 d-flex flex-column align-items-center">
              <p class="aqua fz-20 fw-bold text-center pt-4">Experiencias<br>Únicas</p>
            </div>
          </div>

          <p class="text-center grey fz-20 pt-5 pb-4">Con Seguro Peludo tienes acceso a un <span class="fw-bold">Club de
              beneficios</span> digitales en diferentes establecimientos del país; mejor dicho, beneficios que vas a
            poder convertir en experiencias únicas e inolvidables.</p>
        </div>
      </div>
    </div>
  </div>
</div>
