<div class="bg-white shadows-inset-01 columns home-section ">
  <div class="bg-aqua rounded-corner bg-animals bg-opacity-01 shadows-inset-02 flex-1-0-auto mt--1">

    <div class="container px-30 flex-1-0-auto columns">
      <div class="w-752 mx-auto">
        <h2 class="text-center pt-50 mb-30 white fw-bold fz-30">Nuestros Planes</h2>
        <p class="text-center mb-60 white fz-md-18 d-md-block d-none">Planeados pensando en la tranquilidad de tu
          peludito</p>

        <div class="grid-3c mb-3 head-planes-mobile mb-20">

          <div class="bg-grey--light my-4 overflow-hidden br-top-left-8 br-bottom-left-8">
            <p class="bg-blue--dark white fz-24 text-center py-2">Basico</p>
            <p class="blue--dark fz-24 text-center fw-light pt-30">$20.000</p>
            <p class="blue--dark fz-24 text-center pb-30">Mensual</p>
          </div>

          <div class="overflow-hidden bg-yellow--lighter br--8">
            <div class="bg-yellow--light d-flex align-items-center" style="height:24px; padding:0px 3px;">
              <div style="width:20px; height:19px"
                class="bg-yellow not-media circle cursor-pointer d-flex justify-content-center align-items-center">
                <i class="fas fa-star fz-10 white"></i>
              </div>
              <p class="yellow--dark text-center w-100">Popular</p>
              <div style="width:20px; height:19px"
                class="bg-yellow not-media circle cursor-pointer d-flex justify-content-center align-items-center">
                <i class="fas fa-star fz-10 white"></i>
              </div>
            </div>

            <p class="white fz-24 text-center py-2 bg-yellow">Estándar</p>
            <p class="yellow-darker fz-24 text-center fw-light pt-30">$28.000</p>
            <p class="yellow-darker fz-24 text-center pb-30">Mensual</p>

            <div class="bg-yellow--light d-flex align-items-center" style="height:24px; padding:0px 3px;">
              <div style="width:20px; height:19px"
                class="bg-yellow circle cursor-pointer not-media d-flex justify-content-center align-items-center">
                <i class="fas fa-star fz-10 white"></i>
              </div>
              <p class="yellow--dark text-center w-100">Popular</p>
              <div style="width:20px; height:19px"
                class="bg-yellow circle not-media cursor-pointer d-flex justify-content-center align-items-center">
                <i class="fas fa-star fz-10 white"></i>
              </div>
            </div>
          </div>

          <div class="bg-grey--light my-4 overflow-hidden br-top-right-8 br-bottom-right-8">
            <p class="bg-blue--dark white fz-24 text-center py-2">Premium</p>
            <p class="blue--dark fz-24 text-center fw-light pt-30">$36.000</p>
            <p class="blue--dark fz-24 text-center pb-30">Mensual</p>
          </div>
        </div>

        <h2 class="text-center pt-md-50 pt-20 mb-30 white fw-bold fz-30">Beneficios de Seguro Peludo</h2>
        <h3 class="text-center mb-20 white fz-14 fz-md-18 lh-28">Diseñamos nuestros planes para que sean simples y
          sencillos, de modo que puedas pasar menos tiempo eligiendo y más tiempo con tu peludito.</h3>
        <app-table-planes></app-table-planes>

        <div class="mx-auto container px-30 w-428 d-flex justify-content-center align-items-center flex-1-0-auto py-4">
          <button class="mt-4 br--8 br--none py-12 bg-yellow3  fz-14 w-100 mb-3 shadows--02">COTIZAR</button>
        </div>
      </div>
    </div>

  </div>
</div>
