<div class=" shadows-inset-01 home-section porque columns section-desktop">
  <div class="bg-white rounded-corner pb-3 flex-1-0-auto columns justify-content-center">
    <div class="container px-30 columns">
      <h1 class="aqua fz-36 text-center pt-4 mb-4">¿Por qué Seguro Peludo?</h1>
      <p class="text-center grey fz-20 mb-4">
        Estar preparado es la mejor opción para proteger la vida de aquellos peluditos a los que tanto amamos
      </p>
      <div class="banda-colorcito bg-pets pets-withe">
        <div class="container">
          <div class="w-600 mx-auto flex-1-0-auto columns">
            <div class="row mb-4">


              <div class="col-4 d-flex flex-column align-items-center position-relative">
                <app-item-peludo [name]="'Atención Veterinaria'" [image]="'https://www.seguropeludo.com.co/img/veterinaria.png'"></app-item-peludo>
              </div>
              <div class="col-4 d-flex flex-column align-items-center">
                <app-item-peludo [name]="'Atención Veterinaria'" [image]="'https://www.seguropeludo.com.co/img/Peluditos_Cachorros_2.png'"></app-item-peludo>

              </div>
              <div class="col-4 d-flex flex-column align-items-center positio-relative">
                <app-item-peludo [name]="'Atención Veterinaria'" [image]="'https://www.seguropeludo.com.co/img/Peludito_angel_gato.png'"></app-item-peludo>
              </div>

            </div>
            <button class="br--8 br--none py-2 bg-yellow3 letraCot fz-14 w-100 mb-24 shadows--02" >VEAMOS LOS PLANES</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
