<div class="col-lg-12 col-md-12 col-sm-10 col-xs-10 px-0 center-div pt-md-50 pt-20">
  <table id="tablePlanes">
      <thead>
          <tr>
              <th class="text-center"></th>
              <th class="text-center"></th>
              <th class="text-center text-black bg-yellow br-t-l-r-16 br-t-r-r-16 padding-6 ">Popular</th>
              <th class="text-center"></th>
          </tr>
          <tr>
              <th class="text-center "></th>
              <th class="text-center bg-blue--ext text-white br-t-l-r-16 padding-6">Básico</th>
              <th class="text-center bg-blue--ext text-white padding-6">Estándar</th>
              <th class="text-center bg-blue--ext text-white br-t-r-r-16 padding-6">Premium</th>
          </tr>
      </thead>
      <tbody id="bodyTablePlanes">
          <tr class="tableResult tr-white">
              <td class="text-center text-bold fz-md-16 fz-12 not-border">Gastos médicos por accidente</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-blue-light">
              <td class="text-center text-bold fz-md-16 fz-12">Servicio de eutanasia por enfermedad o accidente</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center text-bold fz-md-16 fz-12">Asistencia funeraria, cremación por enfermedad o accidente</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-blue-light">
              <td class="text-center text-bold fz-md-16 fz-12">Consulta médica veterinaria a domicilio o en clínica</td>
              <td class="text-center"></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center text-bold fz-md-16 fz-12">Guardería por accidente o enfermedad del asegurado</td>
              <td class="text-center"></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-blue-light">
              <td class="text-center text-bold fz-md-16 fz-12">Muerte accidental de la mascota</td>
              <td class="text-center"></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center text-bold fz-md-16 fz-12">Responsabilidad civil extracontractual</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center fz-md-16 fz-12">Daños a Bienes de Terceros</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center fz-md-16 fz-12">Lesiones o Muerte a Terceros</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center fz-md-16 fz-12">Gastos Médicos de Urgencia</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
          </tr>

          <tr class="tableResult tr-white">
              <td class="text-center not-border fz-md-16 fz-12">Gastos de Defensa</td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center"><i class="fa fa-check"></i></td>
              <td class="text-center not-border"><i class="fa fa-check"></i></td>
          </tr>
      </tbody>
  </table>
</div>
